logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
**/.cache
**/.classpath
**/.project
/RUNNING_PID
**/.settings
activator-*.sbt
/.target
/bin
/.cache
/keys.json
/db/
**/karma/node_modules/
/dit4c-machineshop/known_images.json