@(request: RequestHeader, messagesApi: MessagesApi)

<link rel="import" href="@routes.Assets.versioned("lib/polymer/polymer.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-flex-layout/iron-flex-layout-classes.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-card/paper-card.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-progress/paper-progress.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/color.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/typography.html")">

<dom-module id="instances-container">
  <style>
  .section-heading {
    @@apply(--paper-font-subhead);
  }  
  .card-container {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  paper-card {
    min-width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  paper-card paper-progress {
    width: 100%;
    --paper-progress-active-color: var(--paper-light-blue-500);
    --paper-progress-secondary-color: var(--paper-light-blue-300);
  }
  paper-card .card-actions {
    @@apply(--layout-horizontal-reverse);
  }
  .instance-id {
    @@apply(--paper-font-body2);
  }
  .instance-state {
    @@apply(--paper-font-body1);
  }
  .instance-time {
    @@apply(--paper-font-body1);
    font-size: 75%;
    border-bottom: solid 1px var(--paper-light-blue-50); 
  }
  .instance-time .label {
    display: inline-block;
    min-width: 6em;
    font-style: italic;
  }
  </style>
  <template>
    <div class="layout vertical" style="width: 100%">
      <div class="section-heading">Running Instances</div>
      <div class="card-container">
        <template id="running-instances" is="dom-repeat" items="[[instances]]" filter="isRunning" sort="reverseOrderById" observe="state">
          <paper-card>
            <div class="card-content">
              <div class="instance-id">
                <template is="dom-if" if="{{item.url}}">
                  <a href="{{item.url}}">{{item.id}}</a>
                </template>
                <template is="dom-if" if="{{!item.url}}">{{item.id}}</template>
              </div>
              <div class="instance-state">{{item.state}}</div>
              <local-time class="instance-time" instant="{{item.timestamps.created}}">
                <span class="label prefix">Created</span>
              </local-time>
            </div>
            <paper-progress
              value="100"
              indediscard="{{isTransitioning(item)}}"
              secondary-progress="{{stateProgress(item)}}"></paper-progress>
            <div class="card-actions layout horizontal-reverse">
              <instance-save-button instance-id="{{item.id}}"></instance-save-button>
              <instance-discard-button instance-id="{{item.id}}"></instance-discard-button>
            </div>
          </paper-card>
        </template>
      </div>
      <div class="section-heading">Previous Instances</div>
      <div class="card-container">
        <template is="dom-repeat" items="[[instances]]" filter="isPrevious" observe="state" sort="reverseOrderById">
          <paper-card>
            <div class="card-content">
              <div class="instance-id">{{item.id}}</div>
              <div class="instance-state">{{item.state}}</div>
              <div class="instance-time">
                <local-time instant="{{item.timestamps.created}}">
                  <span class="label prefix">Created</span>
                </local-time>
              </div>
              <div class="instance-time">
                <local-time instant="{{item.timestamps.completed}}">
                  <span class="label prefix">Completed</span>
                  <span class="or-else">&nbsp;</span>
                </local-time>
              </div>
            </div>
            <paper-progress
              value="0"
              indediscard="{{isTransitioning(item)}}"
              secondary-progress="{{stateProgress(item)}}"></paper-progress>
            <div class="card-actions">
              <template is="dom-if" if="{{hasImage(item)}}">
                <instance-share-button instance-id="{{item.id}}"></instance-share-button>
                <instance-export-button instance-id="{{item.id}}"></instance-export-button>
                <instance-create-button instance-id="{{item.id}}"></instance-create-button>
              </template>
              <!-- Kludgy spacer -->
              <paper-icon-button icon="" disabled></paper-icon-button>
            </div>
          </paper-card>
        </template>
      </div>
    </div>
  </template>
  <script>
  Polymer({
    is: "instances-container",
    socket: null,
    properties: {
      instances: {
        type: Array,
        value: []
      },
      url: {
        type: String
      }
    },
    isPrevious: function(item) {
      return !this.isRunning(item);
    },
    isRunning: function(item) {
      switch (item.state) {
        case "Waiting For Image": 
        case "Starting":
        case "Started":
        case "Available":
          return true;
        default:
          return false;
      }   
    },
    isTransitioning: function(item) {
      switch (item.state) {
        case "Waiting For Image": 
        case "Starting":
        case "Started":
        case "Stopping":
          return true;
        default:
          return false;
      }
    },
    stateProgress: function(item) {
      switch (item.state) {
        case "Waiting For Image":   return  25;
        case "Starting":            return  50;
        case "Started":             return  75;
        case "Available":           return 100;
        case "Stopping":            return 100;
        default:                    return   0;
      }
    },
    hasImage: function(item) {
      switch (item.state) {
        case "Uploaded":
          return true;
        default:
          return false;
      }   
    },
    ready: function() {
      this.connect();
    },
    connect: function() {
      this.socket = new WebSocket(this.url.replace(/^http/, 'ws'));
      this.socket.onerror = this.onError.bind(this);
      this.socket.onopen = this.onOpen.bind(this);
      this.socket.onmessage = this.onMessage.bind(this);
    },
    onError: function (error) {
      this.fire('onerror', error);
    },
    onOpen: function (event) {
      this.fire('onopen');
    },
    onMessage: function (event) {
      var instanceStatusUpdate = JSON.parse(event.data);
      for (var i = 0; i < this.get('instances').length; i++) {
        var item = this.get(['instances', i]);
        if (instanceStatusUpdate.id == item.id) {
          this.splice('instances', i, 1, instanceStatusUpdate);
          return;
        }
      }
      this.push('instances', instanceStatusUpdate);
    },
    reverseOrderById: function(a, b) {
      if (a.id < b.id) return 1;
      if (a.id > b.id) return -1;
      return 0;
    }
  });
  </script>
</dom-module>