@(request: RequestHeader, messagesApi: MessagesApi)

<link rel="import" href="@routes.Assets.versioned("lib/paper-button/paper-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-dialog/paper-dialog.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.WebComponentsController.component("local-time")">

<dom-module id="instance-share-button">
  <style>  
  #link-text {
    width: 30em;
    max-width: 100%;
  }
  </style>
  <template>
    <iron-ajax id="xhr"
      method="POST"
      url="{{url}}"
      handle-as="json"
      last-response="{{link}}"
      on-response="handleResponse"></iron-ajax>
    <paper-dialog id="dialog">
      <div>
        <paper-input id="link-text" label="sharing link"
          value="{{link.url}}" on-click="clickText">
        </paper-input>
      </div>
      <div>
        <local-time instant="{{link.expires}}">
          <span class="prefix">Expires</span>
        </local-time>
      </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Got it!</paper-button>
      </div>
    </paper-dialog>
    <paper-icon-button icon="link"
      title="share instance" on-click="generateLink"></paper-icon-button>
  </template>
  <script>
  Polymer({
    is: "instance-share-button",
    properties: {
      instanceId: String,
      link: Object,
      url: {
        type: String,
        computed: 'shareUrl(instanceId)'
      }
    },
    shareUrl: function(instanceId) {
      return '@routes.MainController.getInstances()'+instanceId+'/share';
    },
    generateLink: function() {
      this.$.xhr.generateRequest();
    },
    handleResponse: function() {
      this.$.dialog.open();
    },
    clickText: function() {
      this.$['link-text'].$.input.select();
    }
  });
  </script>
</dom-module>