@(request: RequestHeader, messagesApi: MessagesApi)

<link rel="import" href="@routes.Assets.versioned("lib/polymer/polymer.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-collapse/iron-collapse.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-flex-layout/iron-flex-layout-classes.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-card/paper-card.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-progress/paper-progress.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/color.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/typography.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-toggle-button/paper-toggle-button.html")">
<link rel="import" href="@routes.WebComponentsController.component("friendly-name")">
<link rel="import" href="@routes.WebComponentsController.component("instance-create-button")">
<link rel="import" href="@routes.WebComponentsController.component("instance-discard-button")">
<link rel="import" href="@routes.WebComponentsController.component("instance-export-button")">
<link rel="import" href="@routes.WebComponentsController.component("instance-save-button")">
<link rel="import" href="@routes.WebComponentsController.component("instance-share-button")">
<link rel="import" href="@routes.WebComponentsController.component("local-time")">
<link rel="import" href="@routes.WebComponentsController.component("new-instance-dialog")">

<dom-module id="instances-container">
  <style>
  .section-heading {
    @@apply(--layout-horizontal);
    @@apply(--paper-font-subhead);
  }
  .section-heading .heading-text {
    @@apply(--layout-flex);
  }
  .section-heading .heading-actions {
    @@apply(--layout-horizontal);
  }
  .section-heading .heading-actions > * {
    margin-left: 5px;
    margin-right: 5px;
  }
  .card-container {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  paper-card {
    min-width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  paper-card .card-header {
  	padding: 16px;
  	color: white;
  	background-color: var(--primary-color);
  	@@apply(--layout-horizontal);
  	@@apply(--paper-card-header);
  }
  paper-card .card-header .card-header-text {
    @@apply(--layout-flex);
  	@@apply(--paper-card-header-text);
  }
  paper-card .card-header .card-header-action {
    @@apply(--layout-self-center);
  	@@apply(--paper-card-header-text);
  }
  paper-card paper-progress {
    width: 100%;
  }
  paper-card.running-instance paper-progress {
    --paper-progress-container-color: white;
    --paper-progress-active-color: var(--accent-color);
  }
  paper-card.previous-instance paper-progress {
    --paper-progress-container-color: var(--accent-color);
    --paper-progress-active-color: white;
  }
  paper-card .card-actions {
    @@apply(--layout-horizontal-reverse);
  }
  .instance-name {
    @@apply(--paper-font-body2);
  }
  .instance-id {
    @@apply(--paper-font-code1);
    font-size: 75%;
  }
  .instance-state {
  	text-transform: lowercase;
  	font-variant: small-caps;
    @@apply(--paper-font-body1);
  }
  .instance-time {
    @@apply(--paper-font-body1);
    font-size: 75%;
    border-bottom: solid 1px var(--paper-light-blue-50); 
  }
  .instance-time .label {
    display: inline-block;
    min-width: 6em;
    font-style: italic;
  }
  </style>
  <template>
    <div class="layout vertical" style="width: 100%">
      <div class="section-heading">
      	<div class="heading-text">
      	  Running Instances
      	</div>
      	<div class="heading-actions">
          <template is="dom-if" if="{{showmoreinfo}}">
      	    <div>Less info</div>
      	  </template>
          <template is="dom-if" if="{{!showmoreinfo}}">
      	    <div>More info</div>
      	  </template>
      	  <paper-toggle-button active="{{showmoreinfo}}"></paper-toggle-button>
      	</div>
      </div>
      <div class="card-container">
        <template id="running-instances" is="dom-repeat" items="[[instances]]" filter="isRunning" sort="reverseOrderById" observe="state">
          <paper-card class="running-instance">
            <div class="card-header">
              <div class="card-header-text">
		          <div class="instance-state">{{item.state}}</div>
		          <div class="instance-name"><friendly-name value="{{item.id}}"></friendly-name></div>
		      </div>
		      <div class="card-header-action">
                <template is="dom-if" if="{{item.url}}">
          	      <paper-icon-button icon="icons:open-in-new"
          	      	on-click="openUrl" data-url="{{item.url}}"></paper-icon-button>
                </template>
	          </div>
            </div>
            <paper-progress
              value="{{stateProgress(item)}}"></paper-progress>
			<iron-collapse opened="[[showmoreinfo]]">
              <div class="card-content">
                <div class="instance-id" title="Instance ID">{{item.id}}</div>
                <div class="instance-time">
	                <local-time instant="{{item.timestamps.created}}">
	                  <span class="label prefix">Created</span>
	                </local-time>
	              </div>
              </div>
            </iron-collapse>
            <div class="card-actions layout horizontal-reverse">
              <instance-save-button instance-id="{{item.id}}"></instance-save-button>
              <instance-discard-button instance-id="{{item.id}}"></instance-discard-button>
            </div>
          </paper-card>
        </template>
      </div>
      <div class="section-heading">
      	<div class="heading-text">
      	  Previous Instances
      	</div>
      </div>
      <div class="card-container">
        <template is="dom-repeat" items="[[instances]]" filter="isPrevious" observe="state" sort="reverseOrderById">
          <paper-card class="previous-instance">
            <div class="card-header">
              <div class="card-header-text">
	            <div class="instance-state">{{item.state}}</div>
	            <div class="instance-name"><friendly-name value="{{item.id}}"></friendly-name></div>
	          </div>
            </div>
            <paper-progress
              value="{{stateProgress(item)}}"></paper-progress>
			<iron-collapse opened="[[showmoreinfo]]">
              <div class="card-content">
	            <div class="instance-id" title="Instance ID">{{item.id}}</div>
	            <div class="instance-time">
	              <local-time instant="{{item.timestamps.created}}">
	                <span class="label prefix">Created</span>
	              </local-time>
	            </div>
	            <div class="instance-time">
	              <local-time instant="{{item.timestamps.completed}}">
	                <span class="label prefix">Completed</span>
	                <span class="or-else">&nbsp;</span>
	              </local-time>
	            </div>
              </div>
            </iron-collapse>
            <div class="card-actions">
              <template is="dom-if" if="{{hasImage(item)}}">
                <instance-share-button instance-id="{{item.id}}"></instance-share-button>
                <instance-export-button instance-id="{{item.id}}"></instance-export-button>
                <instance-create-button instance-id="{{item.id}}"></instance-create-button>
              </template>
              <!-- Kludgy spacer -->
              <paper-icon-button icon="" disabled></paper-icon-button>
            </div>
          </paper-card>
        </template>
      </div>
    </div>
  </template>
  <script>
  Polymer({
    is: "instances-container",
    socket: null,
    properties: {
      instances: {
        type: Array,
        value: []
      },
      showmoreinfo: {
    	type: Boolean
      },
      url: {
        type: String
      }
    },
    isPrevious: function(item) {
      return !this.isRunning(item);
    },
    isRunning: function(item) {
      switch (item.state) {
        case "Waiting For Image": 
        case "Starting":
        case "Started":
        case "Available":
          return true;
        default:
          return false;
      }   
    },
    isTransitioning: function(item) {
      switch (item.state) {
        case "Waiting For Image": 
        case "Starting":
        case "Started":
        case "Stopping":
        case "Saving":
        case "Uploading":
          return true;
        default:
          return false;
      }
    },
    stateProgress: function(item) {
      switch (item.state) {
        case "Waiting For Image":   return  25;
        case "Starting":            return  50;
        case "Started":             return  75;
        case "Available":           return 100;
        case "Stopping":            return   0;
        case "Saving":              return  33;
        case "Uploading":           return  67;
        case "Uploaded":            return 100;
        case "Discarded":           return 100;
        default:                    return 100;
      }
    },
    hasImage: function(item) {
      switch (item.state) {
        case "Uploaded":
          return true;
        default:
          return false;
      }   
    },
    ready: function() {
      this.connect();
    },
    connect: function() {
      this.socket = new WebSocket(this.url.replace(/^http/, 'ws'));
      this.socket.onerror = this.onError.bind(this);
      this.socket.onopen = this.onOpen.bind(this);
      this.socket.onmessage = this.onMessage.bind(this);
    },
    onError: function (error) {
      this.fire('onerror', error);
    },
    onOpen: function (event) {
      this.fire('onopen');
    },
    onMessage: function (event) {
      var instanceStatusUpdate = JSON.parse(event.data);
      for (var i = 0; i < this.get('instances').length; i++) {
        var item = this.get(['instances', i]);
        if (instanceStatusUpdate.id == item.id) {
          this.splice('instances', i, 1, instanceStatusUpdate);
          return;
        }
      }
      this.push('instances', instanceStatusUpdate);
    },
    reverseOrderById: function(a, b) {
      if (a.id < b.id) return 1;
      if (a.id > b.id) return -1;
      return 0;
    },
    openUrl: function(evt) {
      console.log(evt.model);
      var url = evt.model.get('item.url')
      window.open(url, '_blank');
    }
  });
  </script>
</dom-module>