@(request: RequestHeader, messagesApi: MessagesApi)

<link rel="import" href="@routes.Assets.versioned("lib/iron-ajax/iron-ajax.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-icon-button/paper-icon-button.html")">

<dom-module id="instance-save-button">
  <template>
    <iron-ajax id="xhr"
      method="PUT"
      url="{{url}}"
      on-response="handleResponse"></iron-ajax>
    <paper-icon-button icon="save"
      title="save instance"></paper-icon-button>
  </template>
  <script>
  Polymer({
    is: "instance-save-button",
    properties: {
      instanceId: String,
      url: {
        type: String,
        computed: 'saveUrl(instanceId)'
      }
    },
    listeners: {
      'click': 'save',
    },
    saveUrl: function(instanceId) {
      return '@routes.MainController.getInstances()'+instanceId+'/save';
    },
    handleResponse: function() {
      this.fire('saved', {"instanceId": this.instanceId});
    },
    save: function() {
      this.$.xhr.generateRequest();
    }
  });
  </script>
</dom-module>