@(request: RequestHeader, messagesApi: MessagesApi)

<link rel="import" href="@routes.Assets.versioned("lib/paper-button/paper-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-dialog/paper-dialog.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/color.html")">
<link rel="import" href="@routes.WebComponentsController.component("local-time")">

<dom-module id="instance-share-button">
  <style>  
  #link-text {
    width: 100%;
  }
  .notice {
  	background-color: var(--paper-red-100);
  	margin: 24px;
  	border: solid 1px var(--paper-red-500);
  }
  </style>
  <template>
    <iron-ajax id="xhr"
      method="POST"
      url="{{url}}"
      handle-as="json"
      last-response="{{link}}"
      on-response="handleResponse"></iron-ajax>
    <paper-dialog id="dialog">
      <div class="notice">
      	<p>
      	<strong>Remember:</strong> the link recipient will need cluster access to create a instance with this image!
      	</p>
      	<p>
      	Ensure they have been provided with a cluster access pass.
      	</p>
      </div>
      <div>
        <paper-input id="link-text" label="sharing link"
          value="{{link.url}}"
          on-click="selectText">
        </paper-input>
      </div>
      <div>
        <local-time instant="{{link.expires}}">
          <span class="prefix">Expires</span>
        </local-time>
      </div>
      <div class="buttons">
        <paper-button on-click="closeDialog">Got it!</paper-button>
      </div>
    </paper-dialog>
    <paper-icon-button icon="link"
      title="share image" on-click="generateLink"></paper-icon-button>
  </template>
  <script>
  Polymer({
    is: "instance-share-button",
    properties: {
      instanceId: String,
      link: Object,
      url: {
        type: String,
        computed: 'shareUrl(instanceId)'
      }
    },
    shareUrl: function(instanceId) {
      return '@routes.MainController.getInstances()'+instanceId+'/share';
    },
    generateLink: function() {
      this.$.xhr.generateRequest();
    },
    handleResponse: function() {
      this.$.dialog.open();
    },
    selectText: function() {
      this.$['link-text'].$.input.select();
    },
    closeDialog: function() {
    // Hack to handle weird "already opened=false" behaviour
      this.$.dialog.opened = true;
      this.$.dialog.close();
    }
  });
  </script>
</dom-module>