@(request: RequestHeader, messagesApi: MessagesApi)

<link rel="import" href="@routes.Assets.versioned("lib/iron-ajax/iron-ajax.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-flex-layout/iron-flex-layout-classes.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-form/iron-form.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-icons/iron-icons.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-button/paper-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-dialog/paper-dialog.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-dropdown-menu/paper-dropdown-menu.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-input/paper-input.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-item/paper-item.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-listbox/paper-listbox.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/color.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/typography.html")">
<link rel="import" href="@routes.WebComponentsController.component("friendly-name")">

<dom-module id="new-instance-dialog">
  <style>
  #new-instance-form {
    padding-left: 24px;
    padding-right: 24px;
    @@apply(--layout-vertical);
    @@apply(--layout-justified);
  }
  paper-dropdown-menu {
  	width: 30em;
  }
  .error-message {
    padding: 10px;
    color: var(--paper-red-500);
    background-color: var(--paper-red-100);
  }
  paper-toast {
    position: viewport;
  }
  </style>
  <template>
    <paper-dialog id="dialog">
      <h2>New Instance</h2>
      <form is="iron-form" id="new-instance-form" method="post" action="/instances/"
          on-iron-form-response="onResponse" on-iron-form-error="onError">
        <template is="dom-if" if="{{isSet(image)}}" restamp="true">
          <p>
            Based on: <friendly-name value="{{image}}"></friendly-name>
          </p>
          <input name="image" type="hidden" value="{{image}}" />
        </template>
        <template is="dom-if" if="{{isNotSet(image)}}" restamp="true">
          <paper-dropdown-menu label="Image" name="image" required>
            <paper-listbox class="dropdown-content">
              <content select=".image-option"></content>
            </paper-listbox>
          </paper-dropdown-menu>
        </template>
        
    	<template is="dom-if" if="[[!isEmpty(availableClusters.clusters)]]">
          <paper-dropdown-menu label="Cluster" selected-item="{{selectedCluster}}" required>
            <paper-listbox class="dropdown-content" attr-for-selected="value">
              <template is="dom-repeat"
                  items="[[availableClusters.clusters]]"
                  as="cluster">
                <paper-item value="{{cluster.id}}">{{cluster.display}}</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>
        </template>
    	<template is="dom-if" if="[[isEmpty(availableClusters.clusters)]]">
          <p class="error-message">
            You do not have access to any compute clusters!<br/>
            (If you are sure you do, some clusters may not currently be available.)
          </p>
    	</template>
        <input is="iron-input" name="cluster" type="hidden" value="[[selectedCluster.value]]">
      </form>
      <div class="buttons">
        <paper-button dialog-dismiss on-click="close">Cancel</paper-button>
        <paper-button dialog-confirm disabled="[[isEmpty(availableClusters.clusters)]]" on-click="submit">Create</paper-button>
      </div>
    </paper-dialog>
    <iron-ajax
      id="ajax-clusters"
      url="@routes.MainController.getAvailableClusters"
      handle-as="json"
      last-response="{{availableClusters}}">
  </template>
  <script>
  Polymer({
    is: "new-instance-dialog",
    properties: {
      image: {
        type: String,
        value: null
      }
    },
    isEmpty: function(xs) {
      return !xs || xs.length == 0;
    },
    isSet: function(v) {
      return Boolean(v);
    },
    isNotSet: function(v) {
      return !Boolean(v);
    },
    open: function() {
      this.$['ajax-clusters'].generateRequest();
      this.$.dialog.open();
    },
    close: function() {
      this.$.dialog.opened = true;
      this.$.dialog.close();
    },
    onError: function(evt) {
      // Display error message
      alert('Unable to start instance - try again later');
      // Update cluster list
      this.$['ajax-clusters'].generateRequest();
    },
    submit: function() {
      this.$['new-instance-form'].submit();
    }
  });
  </script>
</dom-module>