@dark-grad-color: rgba(0,23,105,1);
@light-grad-color: rgba(21,78,166,1);

@font-face {
  font-family: 'dit4c';
  src: url('../fonts/dit4c.eot?-ct28a0');
  src: url('../fonts/dit4c.eot?#iefix-ct28a0') format('embedded-opentype'),
    url('../fonts/dit4c.woff?-ct28a0') format('woff'),
    url('../fonts/dit4c.ttf?-ct28a0') format('truetype'),
    url('../fonts/dit4c.svg?-ct28a0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 70px;
  .navbar {
    font-family: "Raleway", sans-serif;
    background: white;
    .icon-bar {
      background-color: #ddd;
    }
    .navbar-brand {
      color: @light-grad-color;
    }
  }
  .btn-outline {
    color: @light-grad-color;
    background-color: transparent;
    border-color: @light-grad-color;
    font-weight: bold;
    &:hover {
      color: white;
      background-color: @light-grad-color;
    }
  }
  &.front-page {
    background-image: linear-gradient(0deg, @light-grad-color 0%, @dark-grad-color 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    .navbar, .nav .open {
      background: transparent;
      a, p, .dropdown-menu {
        color: white;
        background: transparent;
        &:hover, &:focus {
          background: transparent;
        }
      }
      .icon-bar {
        background-color: white;
      }
    }
    .btn-outline, .navbar .btn-outline {
      color: white;
      background-color: transparent;
      border-color: white;
      font-weight: bold;
      &:hover {
        color: @light-grad-color;
        background-color: white;
      }
    }
  }
}

#home-jumbo {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
  overflow: hidden;
  .icon-dit4c-logo {
    display: inline-block;
    margin-top: 50px;
    max-width: 100%;
    font-size: 500px;
  }
}

.jumbotron {
  color: white;
  a {
    color: white;
  }
}

[class^="icon-dit4c"], [class*=" icon-dit4c"] {
  font-family: 'dit4c';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dit4c-logo:before {
  content: "\e600";
}

.icon-dit4c-cloud:before {
  content: "\e601";
}
