@dark-grad-color: rgba(0,23,105,1);
@light-grad-color: rgba(21,78,166,1);

body {
  padding-top: 70px;
  .navbar {
    background: white;
    .icon-bar {
      background-color: #ddd;
    }
    .navbar-brand {
      color: @light-grad-color;
    }
  }
  &.front-page {
    background: linear-gradient(to bottom, @dark-grad-color 0%, @light-grad-color 100%);
    .navbar, .nav .open {
      background: transparent;
  	  a, p, .dropdown-menu {
  		  color: white;
  		  background: transparent;
  		  &:hover, &:focus {
  		    background: transparent;
  		  }
  		}
  		.icon-bar {
  		  background-color: white;
  		}
    }
  }
}

#home-jumbo {
  background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
	img {
		max-width: 100%;
		margin-top: 80px;
	}
}

.jumbotron {
  color: white;
  a {
    color: white;
  }
}
