server {
  listen *:{{port}};
  server_name {{domain}};

  location / {
    {{#upstream}}
    proxy_pass {{scheme}}://{{host}}:{{port}};
    {{/upstream}}
    {{#headers}}
    proxy_set_header {{name}} "{{value}}";
    {{/headers}}
  }
}
