@(imageNames: Seq[String], pageTitle: String = "App Instances")

<!DOCTYPE html>
<html>
<head>
<title>DIT4C</title>
<script src="@routes.Assets.versioned("lib/webcomponentsjs/webcomponents-lite.min.js")">
</script>
<link rel="import" href="@routes.Assets.versioned("lib/iron-flex-layout/iron-flex-layout-classes.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-form/iron-form.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-icons/iron-icons.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-icons/social-icons.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-image/iron-image.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-button/paper-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-card/paper-card.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-progress/paper-progress.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-fab/paper-fab.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-dropdown-menu/paper-dropdown-menu.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-input/paper-input.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-item/paper-item.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-listbox/paper-listbox.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/color.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/typography.html")">
<link rel="import" href="@routes.Assets.versioned("lib/app-layout/app-layout.html")">
<style is="custom-style" include="iron-flex iron-flex-reverse iron-flex-alignment iron-positioning"></style>
<style is="custom-style">
body {
  background-color: var(--paper-grey-100);
}
app-header {
  height: 64px;
  color: white;
  background-color: var(--paper-blue-500);
}
#page-title {
  @@apply(--paper-font-headline);
}
#new-instance-open-button {
  position: absolute;
  top: 35px;
  left: 16px;
  z-index: 100;
}
#content-wrapper {
  overflow: hidden;
}
#main-content {
  padding: 48px;
  height: 100%;
}
#new-instance-dialog {
  background-color: white;
  height: 100%;
  padding: 48px;
}
paper-dropdown-menu {
  width: 200px;
  margin-right: 20px;
}
#new-instance-form paper-button:not([disabled]) {
  background: var(--paper-light-blue-500);
  color: white;
}
.section-heading {
  @@apply(--paper-font-subhead);
}
</style>
<script type="text/javascript">
function showNewInstanceDialog() {
  document.getElementById("new-instance-dialog").style.display = "";
  document.getElementById("new-instance-open-button").style.display = "none";
}
function hideNewInstanceDialog() {
  document.getElementById("new-instance-dialog").style.display = "none";
  document.getElementById("new-instance-open-button").style.display = "";
}
</script>
<dom-module id="instances-container">
  <style>
	.section-heading {
	  @@apply(--paper-font-subhead);
	}	
	.card-container {
	  min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
	}
	paper-card {
	  margin-right: 10px;
	  margin-bottom: 10px;
  }
  paper-card paper-progress {
    width: 100%;
    --paper-progress-active-color: var(--paper-light-blue-500);
    --paper-progress-secondary-color: var(--paper-light-blue-300);
  }
	.instance-id {
	  @@apply(--paper-font-body2);
	}
	.instance-state {
	  @@apply(--paper-font-body1);
	}
  </style>
  <template>
    <iron-ajax
      auto
      id="ajax-get-instances"
      url="@routes.MainController.getInstances"
      handle-as="json"
      last-response="{{instancesResponse}}"
      debounce-duration="300"></iron-ajax>
    <div class="layout vertical" style="width: 100%">
	    <div class="section-heading">Running Instances</div>
	    <div class="card-container">
	      <template id="running-instances" is="dom-repeat" items="[[instancesResponse.instances]]" filter="isRunning" observe="state">
	        <paper-card>
	          <div class="card-content">
	            <div class="instance-id">
	              <template is="dom-if" if="{{item.url}}">
	                <a href="{{item.url}}">{{item.id}}</a>
	              </template>
	              <template is="dom-if" if="{{!item.url}}">{{item.id}}</template>
	            </div>
	            <div class="instance-state">{{item.state}}</div>
	          </div>
            <paper-progress
              value="100"
              indeterminate="{{isTransitioning(item)}}"
              secondary-progress="{{stateProgress(item)}}"></paper-progress>
	          <div class="card-actions layout horizontal-reverse">
              <iron-request id="xhr-{{item.id}}"></iron-request>
              <paper-icon-button icon="close"
	              title="terminate instance"
	              onclick="{{terminate(item.id)}}"></paper-icon-button>
	          </div>
	        </paper-card>
	      </template>
	    </div>
	    <div class="section-heading">Previous Instances</div>
	    <div class="card-container">
	      <template is="dom-repeat" items="[[instancesResponse.instances]]" filter="isPrevious" observe="state">
	        <paper-card>
	          <div class="card-content">
	            <div class="instance-id">{{item.id}}</div>
	            <div class="instance-state">{{item.state}}</div>
	          </div>
            <paper-progress
              value="0"
              indeterminate="{{isTransitioning(item)}}"
              secondary-progress="{{stateProgress(item)}}"></paper-progress>
	        </paper-card>
	      </template>
	    </div>
    </div>
  </template>
  <script>
  Polymer({
    is: "instances-container",
    isPrevious: function(item) {
      return !this.isRunning(item);
    },
    isRunning: function(item) {
    	switch (item.state) {
    	  case "Waiting For Image": 
    	  case "Starting":
    	  case "Started":
    	  case "Available":
    		  return true;
    		default:
    			return false;
    	} 	
    },
    isTransitioning: function(item) {
    	switch (item.state) {
        case "Waiting For Image": 
        case "Starting":
        case "Started":
        case "Stopping":
          return true;
        default:
          return false;
      }
    },
    stateProgress: function(item) {
      switch (item.state) {
        case "Waiting For Image":   return  25;
        case "Starting":            return  50;
        case "Started":             return  75;
        case "Available":           return 100;
        case "Stopping":            return 100;
        default:                    return   0;
      }
    },
    ready: function() {
      this.polling();
    },
    polling: function() {
      this.refresh();
    	this.async(this.polling, 10000);
    },  
    refresh: function() {
    	document.getElementById('ajax-get-instances').generateRequest();
    },
    terminate: function(instanceId) {
      var xhr = Polymer.dom(this.root).querySelector('#xhr-'+instanceId);
      var refresh = this.refresh;
      return function() {
        xhr.send({
	        url: "@routes.MainController.getInstances()"+instanceId+"/terminate",
	        method: "PUT"
	      }).then(refresh);
      };
    }
  });   
  </script>
</head>
<body class="fullbleed">
<app-header-layout>
  <app-header condenses fixed>
    <app-toolbar class="layout container horizontal justified">
      <div></div>
      <div id="page-title">@pageTitle</div>
      <div>
        <form id="logout" method="post" action="@routes.MainController.logout">
          <paper-button onclick="document.getElementById('logout').submit()">
            Logout
          </paper-button>
        </form>
      </div>
	  </app-toolbar>
    <paper-fab icon="add" id="new-instance-open-button" title="New Instance" onclick="showNewInstanceDialog()"></paper-fab>
	</app-header>
	<div id="content-wrapper">
    <div id="new-instance-dialog" class="layout vertical" style="display: none">
      <div class="layout horizontal baseline justified">
        <div class="section-heading flex">New Instance</div>
        <paper-icon-button icon="close" id="new-instance-close-button"
          title="close form"
          onclick="hideNewInstanceDialog()"></paper-icon-button>
      </div>
      <form is="iron-form" id="new-instance-form" method="post" action="/instances/">
		    <paper-dropdown-menu label="Image" name="image" required>
		      <paper-listbox class="dropdown-content">
		        @for(imageName <- imageNames) {
		        <paper-item>@imageName</paper-item>
		        }
		      </paper-listbox>
		    </paper-dropdown-menu>
	      <paper-dropdown-menu label="Cluster" name="cluster" required>
				  <paper-listbox class="dropdown-content" selected="0">
				    <paper-item>Default</paper-item>
				  </paper-listbox>
				</paper-dropdown-menu>
				<paper-button onclick="document.getElementById('new-instance-form').submit()">Create</paper-button>
			</form>
			<script>
			document.getElementById("new-instance-form").addEventListener('iron-form-response', function(event) {
			  console.log(event);
			  document.getElementById('instances').refresh()
			});
			</script>
    </div>
	  <div id="main-content">
      <instances-container id="instances"></instances-container>
	  </div>
  </div>
</app-header-layout>
<script type="text/javascript">

</script>
</body>
</html>