@(imageNames: Seq[String], pageTitle: String = "App Instances")(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
<head>
<title>DIT4C</title>
<script src="@routes.Assets.versioned("lib/webcomponentsjs/webcomponents-lite.min.js")">
</script>
<link rel="import" href="@routes.Assets.versioned("lib/polymer/polymer.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-flex-layout/iron-flex-layout-classes.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-form/iron-form.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-icons/iron-icons.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-icons/social-icons.html")">
<link rel="import" href="@routes.Assets.versioned("lib/iron-image/iron-image.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-button/paper-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-card/paper-card.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-dialog/paper-dialog.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-progress/paper-progress.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-fab/paper-fab.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-dropdown-menu/paper-dropdown-menu.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-input/paper-input.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-item/paper-item.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-listbox/paper-listbox.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/color.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/typography.html")">
<link rel="import" href="@routes.Assets.versioned("lib/app-layout/app-layout.html")">
<style is="custom-style" include="iron-flex iron-flex-reverse iron-flex-alignment iron-positioning"></style>
<style is="custom-style">
body {
  background-color: var(--paper-grey-100);
}
app-header {
  height: 64px;
  color: white;
  background-color: var(--paper-blue-500);
}
#page-title {
  @@apply(--paper-font-headline);
}
#new-instance-open-button {
  position: absolute;
  top: 35px;
  left: 16px;
  z-index: 100;
}
#content-wrapper {
  overflow: hidden;
}
#main-content {
  padding: 48px;
  height: 100%;
}
paper-dropdown-menu {
  width: 200px;
}
#new-instance-form paper-button:not([disabled]) {
  background: var(--paper-light-blue-500);
  color: white;
}
.section-heading {
  @@apply(--paper-font-subhead);
}
</style>
<dom-module id="new-instance-dialog">
  <style>
	#new-instance-form {
	  padding-left: 20px;
	  padding-right: 20px;
	  @@apply(--layout-vertical);
	  @@apply(--layout-justified);
	}
  </style>
	<template>
		<paper-dialog id="dialog">
		  <h2>New Instance</h2>
		  <form is="iron-form" id="new-instance-form" method="post" action="/instances/">
        <template is="dom-if" if="{{isSet(image)}}" restamp="true">
          <span>{{image}}</span>
          <input name="image" type="hidden" value="{{image}}" />
        </template>
        <template is="dom-if" if="{{isNotSet(image)}}" restamp="true">
			    <paper-dropdown-menu label="Image" name="image" required>
				    <paper-listbox class="dropdown-content">
						  @for(imageName <- imageNames) {
						  <paper-item>@imageName</paper-item>
						  }
				    </paper-listbox>
				  </paper-dropdown-menu>
        </template>
		    <paper-dropdown-menu label="Cluster" name="cluster" required>
		      <paper-listbox class="dropdown-content" selected="0">
		        <paper-item>Default</paper-item>
		      </paper-listbox>
		    </paper-dropdown-menu>
		  </form>
		  <div class="buttons">
		    <paper-button dialog-dismiss>Cancel</paper-button>
		    <paper-button dialog-confirm autofocus on-click="submit">Create</paper-button>
		  </div>
		</paper-dialog>
	</template>
	<script>
  Polymer({
    is: "new-instance-dialog",
    properties: {
      image: {
    	  type: String,
    	  value: null
      }
    },
    isSet: function(v) {
    	return Boolean(v);
    },
    isNotSet: function(v) {
      return !Boolean(v);
    },
    open: function() {
    	this.$.dialog.open();
    },
    submit: function() {
    	this.$['new-instance-form'].submit();
    }
  });
  </script>
</dom-module>
<dom-module id="instance-save-button">
  <template>
    <iron-ajax id="xhr"
      method="PUT"
      url="{{url}}"
      on-response="handleResponse"></iron-ajax>
    <paper-icon-button icon="save"
      title="save instance"></paper-icon-button>
  </template>
  <script>
  Polymer({
    is: "instance-save-button",
    properties: {
      instanceId: String,
      url: {
        type: String,
        computed: 'saveUrl(instanceId)'
      }
    },
    listeners: {
      'click': 'save',
    },
    saveUrl: function(instanceId) {
      return '@routes.MainController.getInstances()'+instanceId+'/save';
    },
    handleResponse: function() {
      this.fire('saved', {"instanceId": this.instanceId});
    },
    save: function() {
      this.$.xhr.generateRequest();
    }
  });
  </script>
</dom-module>
<dom-module id="instance-discard-button">
  <template>
    <iron-ajax id="xhr"
      method="PUT"
      url="{{url}}"
      on-response="handleResponse"></iron-ajax>
    <paper-icon-button icon="close"
      title="discard instance"></paper-icon-button>
  </template>
  <script>
  Polymer({
    is: "instance-discard-button",
    properties: {
      instanceId: String,
      url: {
        type: String,
        computed: 'discardUrl(instanceId)'
      }
    },
    listeners: {
      'click': 'discard',
    },
    discardUrl: function(instanceId) {
      return '@routes.MainController.getInstances()'+instanceId+'/discard';
    },
    handleResponse: function() {
      this.fire('discarded', {"instanceId": this.instanceId});
    },
    discard: function() {
      this.$.xhr.generateRequest();
    }
  });
  </script>
</dom-module>
<dom-module id="instance-create-button">
  <template>
    <new-instance-dialog id="dialog" image="[[instanceId]]">
    </new-instance-dialog>
    <paper-icon-button icon="add"
      title="new instance" on-click="openDialog"></paper-icon-button>
  </template>
  <script>
  Polymer({
    is: "instance-create-button",
    properties: {
      instanceId: String
    },
    openDialog: function() {
      this.$.dialog.open();
    }
  });
  </script>
</dom-module>
<dom-module id="instance-export-button">
  <style>  
  a {
    color: black;
  }
  </style>
  <template>
    <a href="{{downloadUrl(instanceId)}}" tabindex="-1">
	    <paper-icon-button icon="file-download"
	      title="download image"></paper-icon-button>
    </a>
  </template>
  <script>
  Polymer({
    is: "instance-export-button",
    properties: {
      instanceId: String
    },
    downloadUrl: function(instanceId) {
    	return '@routes.MainController.getInstances()'+instanceId+'/export';
    },
    download: function() {
      window.location.href = this.downloadUrl();
    }
  });
  </script>
</dom-module>
<dom-module id="instances-container">
  <style>
  .section-heading {
    @@apply(--paper-font-subhead);
  }  
  .card-container {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  paper-card {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  paper-card paper-progress {
    width: 100%;
    --paper-progress-active-color: var(--paper-light-blue-500);
    --paper-progress-secondary-color: var(--paper-light-blue-300);
  }
  paper-card .card-actions {
    @@apply(--layout-horizontal-reverse);
  }
  .instance-id {
    @@apply(--paper-font-body2);
  }
  .instance-state {
    @@apply(--paper-font-body1);
  }
  </style>
  <template>
    <div class="layout vertical" style="width: 100%">
      <div class="section-heading">Running Instances</div>
      <div class="card-container">
        <template id="running-instances" is="dom-repeat" items="[[instances]]" filter="isRunning" observe="state">
          <paper-card>
            <div class="card-content">
              <div class="instance-id">
                <template is="dom-if" if="{{item.url}}">
                  <a href="{{item.url}}">{{item.id}}</a>
                </template>
                <template is="dom-if" if="{{!item.url}}">{{item.id}}</template>
              </div>
              <div class="instance-state">{{item.state}}</div>
            </div>
            <paper-progress
              value="100"
              indediscard="{{isTransitioning(item)}}"
              secondary-progress="{{stateProgress(item)}}"></paper-progress>
            <div class="card-actions layout horizontal-reverse">
              <instance-save-button instance-id="{{item.id}}"></instance-save-button>
              <instance-discard-button instance-id="{{item.id}}"></instance-discard-button>
            </div>
          </paper-card>
        </template>
      </div>
      <div class="section-heading">Previous Instances</div>
      <div class="card-container">
        <template is="dom-repeat" items="[[instances]]" filter="isPrevious" observe="state">
          <paper-card>
            <div class="card-content">
              <div class="instance-id">{{item.id}}</div>
              <div class="instance-state">{{item.state}}</div>
            </div>
            <paper-progress
              value="0"
              indediscard="{{isTransitioning(item)}}"
              secondary-progress="{{stateProgress(item)}}"></paper-progress>
            <div class="card-actions">
              <template is="dom-if" if="{{hasImage(item)}}">
                <instance-export-button instance-id="{{item.id}}"></instance-export-button>
                <instance-create-button instance-id="{{item.id}}"></instance-create-button>
              </template>
              <!-- Kludgy spacer -->
              <paper-icon-button icon="" disabled></paper-icon-button>
            </div>
          </paper-card>
        </template>
      </div>
    </div>
  </template>
  <script>
  Polymer({
    is: "instances-container",
    socket: null,
    properties: {
      instances: {
        type: Array,
        value: []
      },
      url: {
        type: String
      }
    },
    listeners: {
      'discarded': 'refresh',
    },
    isPrevious: function(item) {
      return !this.isRunning(item);
    },
    isRunning: function(item) {
      switch (item.state) {
        case "Waiting For Image": 
        case "Starting":
        case "Started":
        case "Available":
          return true;
        default:
          return false;
      }   
    },
    isTransitioning: function(item) {
      switch (item.state) {
        case "Waiting For Image": 
        case "Starting":
        case "Started":
        case "Stopping":
          return true;
        default:
          return false;
      }
    },
    stateProgress: function(item) {
      switch (item.state) {
        case "Waiting For Image":   return  25;
        case "Starting":            return  50;
        case "Started":             return  75;
        case "Available":           return 100;
        case "Stopping":            return 100;
        default:                    return   0;
      }
    },
    hasImage: function(item) {
      switch (item.state) {
        case "Uploaded":
          return true;
        default:
          return false;
      }   
    },
    ready: function() {
      this.connect();
    },
    connect: function() {
      this.socket = new WebSocket(this.url.replace(/^http/, 'ws'));
      this.socket.onerror = this.onError.bind(this);
      this.socket.onopen = this.onOpen.bind(this);
      this.socket.onmessage = this.onMessage.bind(this);
    },
    onError: function (error) {
      this.fire('onerror', error);
    },
    onOpen: function (event) {
      this.fire('onopen');
    },
    onMessage: function (event) {
      var instanceStatusUpdate = JSON.parse(event.data);
      for (var i = 0; i < this.get('instances').length; i++) {
        var item = this.get(['instances', i]);
        if (instanceStatusUpdate.id == item.id) {
          this.splice('instances', i, 1, instanceStatusUpdate);
          return;
        }
      }
      this.push('instances', instanceStatusUpdate);
    }
  });
  </script>
</head>
<body class="fullbleed">
<new-instance-dialog id="newInstanceDialog"></new-instance-dialog>
<app-header-layout>
  <app-header condenses fixed>
    <app-toolbar class="layout container horizontal justified">
      <div></div>
      <div id="page-title">@pageTitle</div>
      <div>
        <form id="logout" method="post" action="@routes.MainController.logout">
          <paper-button onclick="document.getElementById('logout').submit()">
            Logout
          </paper-button>
        </form>
      </div>
    </app-toolbar>
    <paper-fab icon="add" id="new-instance-open-button" title="New Instance" onclick="newInstanceDialog.open()"></paper-fab>
  </app-header>
  <div id="content-wrapper">
    <div id="main-content">
      <instances-container id="instances" url="@routes.MainController.getInstances.absoluteURL"></instances-container>
    </div>
  </div>
</app-header-layout>
<script type="text/javascript">

</script>
</body>
</html>