@(dummyIdForm: Option[Form[controllers.LoginData]], socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry )(implicit messages: Messages)

<!DOCTYPE html>
<html>
<head>
<script src="@routes.Assets.versioned("lib/webcomponentsjs/webcomponents-lite.min.js")">
</script>
<link rel="import" href="@routes.Assets.versioned("lib/iron-flex-layout/iron-flex-layout-classes.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-button/paper-button.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-input/paper-input.html")">
<link rel="import" href="@routes.Assets.versioned("lib/paper-styles/color.html")">
<style is="custom-style" include="iron-flex"></style>
<style is="custom-style">
body {
  background-color: var(--paper-blue-500);
}
#login-methods, #dummy-login-form {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}
#dummy-login-form {
  background-color: var(--paper-grey-100);
}
h1 {
  @@apply(--paper-font-title);
}
paper-button.provider {
  width: 100%;
  color: white;
  background-color: var(--paper-blue-400);
  margin-top: 10px;
  margin-bottom: 10px;
}
#social-providers a {
  width: 100%;
  text-decoration: initial;
}
</style>
<script>
function submit(form) {
	var valid = Polymer.dom(form).querySelectorAll('paper-input').reduce(function(wasValid, n) {
		return wasValid && n.validate();
	}, true);
	if (valid) {
	  form.submit()
	}
}
</script>
</head>
<body class="fullbleed vertical layout">

<div class="layout vertical center center-justified" style="height: 100vh">
  <div id="login-methods">
    <h1>@Messages("login.with")</h1>
  @for(form <- dummyIdForm) {
  <form class="layout vertical center center-justified" id="dummy-login-form" method="post" action="@routes.MainController.login">
	  <div>
	    <paper-input label="User Identity" id="identity-field" name="identity" value='@{form.value.map(_.identity).getOrElse("")}'
	       @if(!form.errors("identity").isEmpty) { invalid }
	       auto-validate required
	       error-message='@{form.errors("identity").map(e => Messages(e.message, e.args)).mkString(" ")}'></paper-input>
	  </div>
	  <div>
	    <paper-button onclick="submit(document.getElementById('dummy-login-form'))">Login</paper-button>
	  </div>
  </form>
  }
  @if(socialProviders.providers.nonEmpty) {
    <div id="social-providers" class="layout vertical center">
      @for(p <- socialProviders.providers) {
        <a href="@routes.MainController.authenticate(p.id)" tab-index="-1">
          <paper-button class="provider">@Messages(p.id)</paper-button>
        </a>
      }
    </div>
  }
  </div>
</div>

</body>
</html>