@(loginButton: String => Html)

@import helpers.AppVersion

<!DOCTYPE html5>
<html>
  <head>
    <title>DIT4C @AppVersion</title>

    <link href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))" rel="stylesheet">
    <link href="@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.css"))" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <script>
    // Enhance RequireJS to handle WebJARs
    @Html(org.webjars.RequireJS.getSetupJavaScript("/webjars/"))
    </script>
  </head>
  <body ng-controller="ApplicationCtrl">
    <div data-ng-view></div>

    <script type="text/ng-template" id="navbar.html">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">DIT4C @{AppVersion}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <div ng-if="currentUser">
            <ul class="nav navbar-nav">
              <li><a href="/containers">Containers</a></li>
              <li><a href="/compute-nodes">Compute Nodes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{currentUser.id}}">
                  <span ng-if="currentUser.name">{{currentUser.name}}</span>
                  <span ng-if="!currentUser.name">Unknown</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <p ng-if="!currentUser" class="navbar-text navbar-right">
            <a href="/login">Not logged in</a>
          </p>
        </div>
      </div>
    </nav>
    </script>

    <script type="text/ng-template" id="index.html">
    <div ng-include src="'navbar.html'"></div>
    <div id="home-jumbo" class="jumbotron">
      <div class="container">
        <img class="center-block" src="assets/images/DIT4C_logo_white.png"/>
      </div>
    </div>
    </script>

    <script type="text/ng-template" id="login.html">
    <div ng-include src="'navbar.html'"></div>
    <div class="container">
      <h1>Authenticate your identity</h1>
      @loginButton("/login/redirect")
    </div>
    </script>

    <script type="text/ng-template" id="containers.html">
    <div ng-include src="'navbar.html'"></div>
    <div class="container">
      <h1>Containers</h1>

      <div>
        <form class="form-inline" ng-if="usableComputeNodes().length > 0">
          <div class="form-group has-feedback"
               ng-class="{'has-success': nameCheck.valid === true, 'has-error': nameCheck.valid === false}"
               title="{{nameCheck.reason}}">
            <input type="text" class="form-control"
              ng-model="newContainer.name"
              ng-change="checkName(newContainer.name)"
              placeholder="Container Name"
              />
            <span class="glyphicon form-control-feedback"
              ng-class="{'glyphicon-ok': nameCheck.valid === true, 'glyphicon-remove': nameCheck.valid === false}"></span>
          </div>
          <select class="form-control" ng-model="newContainer.computeNode"
          	required="true"
            ng-options="node.name for node in usableComputeNodes() track by node.id"></select>
          <select class="form-control" ng-model="newContainer.image"
            ng-options="image.value as image.label for image in images"></select>
          <div class="checkbox">
            <label>
              Start?
              <input type="checkbox" ng-model="newContainer.active"/>
            </label>
          </div>
          <button class="btn btn-primary" ng-click="create()">
            Create
          </button>
        </form>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Container Name</th>
            <th>Compute Node</th>
            <th>Active?</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="container in containers | orderBy:'name'">
            <td>
              <a ng-if="container.active" href="{{rootUrl(container.name)}}"
                 target="_blank">{{container.name}}</a>
              <span ng-if="!container.active" title="{{container.id}}">{{container.name}}</span>
            </td>
            <td>
              <span ng-repeat="node in computeNodes | filter:container.computeNodeId:id">
                <span title="{{node.id}}">{{node.name}}</span>
              </span>
            </td>
            <td>
              <div class="btn-group" ng-if="container.active != null">
                <button ng-if="container.active" class="btn btn-primary disabled active" role="button">On</button>
                <button ng-if="container.active" class="btn btn-default" ng-click="turnOff(container.id)">Off</button>
                <button ng-if="!container.active" class="btn btn-default" ng-click="turnOn(container.id)">On</button>
                <button ng-if="!container.active" class="btn btn-primary disabled active" role="button">Off</button>
              </div>
              <span class="text-muted" ng-if="container.active == null">
                status unknown
              </span>
            </td>
            <td>
              <button class="btn btn-danger"
                ng-click="delete(container.id)">Delete</button>
            </td>
          </tr>
          <tr ng-if="containers.length == 0">
            <td colspan="4" class="text-center text-muted">
              You do not currently have any containers.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </script>
    
    <script type="text/ng-template" id="compute-nodes.html">
    <div ng-include src="'navbar.html'"></div>
    <div class="container">
      <h1>Compute Nodes</h1>

      <div>
        <button class="btn btn-default" ng-click="isAccessFormOpen = !isAccessFormOpen">
          <i class="fa fa-key"></i>
          Claim Compute Node Access
        </button>
        <button class="btn btn-default" ng-click="isAddFormOpen = !isAddFormOpen">
          <i class="fa fa-plus"></i>
          Add New Compute Node
        </button>
      </div>

      <br/>

      <div ng-show="isAccessFormOpen">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="accessform-node" class="col-sm-2 control-label">
              Compute Node
            </label>
            <div class="col-sm-10">
            <select id="accessform-node"
            	class="form-control" ng-model="accessForm.node"
            	ng-options="node.name for node in computeNodes track by node.id"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <label for="accessform-code" class="col-sm-2 control-label">
              Access Code
            </label>
            <div class="col-sm-10">
            <input id="accessform-code" type="text"
              class="form-control" ng-model="accessForm.code"
              style="font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;"
              ng-keypress="keyCodeFilter($event, 12, 3)"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" ng-click="claimNode()">
                Claim
              </button>
            </div>
          </div>
        </form>
      </div>

      <div ng-show="isAddFormOpen">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="addform-name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
            <input id="addform-name" type="text"
              class="form-control" ng-model="addForm.name"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <label for="addform-url" class="col-sm-2 control-label">
              Management URL
            </label>
            <div class="col-sm-10">
            <input id="addform-url" type="text"
              class="form-control" ng-model="addForm.managementUrl"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Backend
            </label>
            <div class="col-sm-10">
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Scheme
                </label>
                <div class="col-sm-10">
                  <select id="addform-backend-scheme"
                    class="form-control" ng-model="addForm.backend.scheme">
                    <option value="http">HTTP</option>
                    <option value="https">HTTPS</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Host
                </label>
                <div class="col-sm-10">
                  <input id="addform-backend-host" type="text"
                    class="form-control" ng-model="addForm.backend.host"
                    ></select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Port
                </label>
                <div class="col-sm-10">
                  <input id="addform-backend-port"
                    class="form-control" ng-model="addForm.backend.port"
                    type="number" min="1" max="65525">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" ng-click="addNode()">
                Create
              </button>
            </div>
          </div>
        </form>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Compute Node</th>
            <th></th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="node in computeNodes | filter:{'usable': true} | orderBy:'name'">
            <td>
              <span>{{node.name}}</span>
              <table class="table" ng-if="tokens[node.id]">
                <thead>
                  <tr>
                    <th>Access Token</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="token in tokens[node.id]">
                    <td>{{token.code | accessToken:3}}</td>
                    <td>
                      <span ng-if="token.type == 'share'">Sharing</span>
                      <span ng-if="token.type == 'own'">Ownership</span>
                    </td>
                    <td>
                      <button class="btn btn-default" ng-click="removeToken(node, token)">
                        <i class="fa fa-remove"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button class="btn btn-default" ng-click="addToken(node)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <button class="btn btn-default" ng-if="node.owned">
                Edit
              </button>
              <button class="btn btn-danger"
                ng-if="node.owned" ng-click="removeNode(node)">
                Delete
              </button>
            </td>
            <td><pre>{{ node | json }}</pre></td>
          </tr>
        </tbody>
      </table>
    </div>
    </script>

    <script type="text/ng-template" id="notfound.html">
    <div id="home-jumbo" class="jumbotron">
      <div class="container">
        <h1>
        Not Found
        </h1>
        <p>
          It's not here, whatever it is...
        </p>
      </div>
    </div>
    </script>

    <script data-main="@routes.Assets.versioned("javascripts/main.js")"
            src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>
  </body>
</html>