@(authProviders: Seq[providers.auth.AuthProvider], googleAnalyticsCode: Option[String])

@import providers.auth._
@import helpers.AppVersion

<!DOCTYPE html5>
<html>
  <head>
    <title>DIT4C @AppVersion</title>

    <link href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))" rel="stylesheet">
    <link href="@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.css"))" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">

    <script>
    // Enhance RequireJS to handle WebJARs
    @Html(org.webjars.RequireJS.getSetupJavaScript("/webjars/"))
    </script>
    @for(code <- googleAnalyticsCode) {
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '@code', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
    }
  </head>
  <body class="{{$root.bodyClass}}" ng-controller="ApplicationCtrl">
    <div data-ng-view></div>

    <script type="text/ng-template" id="navbar.html">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand" title="DIT4C @{AppVersion}">
            <i class="icon-dit4c-cloud"></i>
            DIT4C
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <div ng-if="currentUser">
            <ul class="nav navbar-nav">
              <li><a href="/containers">Containers</a></li>
              <li><a href="/compute-nodes">Compute Nodes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" dropdown>
                <a href="#" class="dropdown-toggle"
                    dropdown-toggle
                    data-id="{{currentUser.id}}"
                    title="{{currentUser.email}}">
                  <span ng-if="currentUser.name">{{currentUser.name}}</span>
                  <span ng-if="!currentUser.name">Unknown</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <p ng-if="!currentUser && !isLoginPage" class="navbar-text navbar-right">
            <a class="btn btn-outline" href="/login">Login</a>
          </p>
        </div>
      </div>
    </nav>
    </script>

    <script type="text/ng-template" id="index.html">
    <div ng-include src="'navbar.html'"></div>
    <div id="home-jumbo" class="jumbotron">
      <div class="container align-center">
        <i class="icon-dit4c-logo"></i>
      </div>
    </div>
    </script>

    <script type="text/ng-template" id="login.html">
    <div ng-include src="'navbar.html'"></div>
    <div class="container">
      <h1 class="text-center">Authenticate your identity</h1>

      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
          @for(provider <- authProviders) {
            @provider match {
              case _: RapidAAFAuthProvider => {
                <a target="_self" class="btn btn-default btn-block btn-lg"
                  href="@{routes.AuthController.login(provider.name).url}">
                  <img src="https://rapid.aaf.edu.au/aaf.png" style="height: 1.33333333em"/>
                  <abbr title="Australian Access Federation">AAF</abbr>
                </a>
              }
              case _: GitHubProvider => {
                <a target="_self" class="btn btn-default btn-block btn-lg"
                  alt="Login with GitHub"
                  href="@{routes.AuthController.login(provider.name).url}">
                  <i class="fa fa-github fa-lg"></i>
                  GitHub
                </a>
              }
              case _: DummyProvider => {
                <br/>
                <form class="form text-center"
                  action="@{routes.AuthController.unnamedCallback.url}"
                  method="POST">
                  <div class="input-group">
                    <input class="form-control" type="text"
                      name="username" value="anonymous"/>
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Login</button>
                    </span>
                  </div>
                </form>
                <br/>
              }
            }
          }
          @if(authProviders.isEmpty) {
            <div class="alert alert-danger">
              No authentication provider has been configured.
            </div>
          }
        </div>
      </div>

    </div>
    </script>

    <script type="text/ng-template" id="containers.html">
    <div ng-include src="'navbar.html'"></div>
    <div class="container">
      <h1>Containers</h1>

      <div ng-if="computeNodes.length > 0">
        <section ng-show="isAddFormOpen" class="well">
          <button type="button" class="close pull-right" ng-click="toggleAddForm(false)">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <form class="form-horizontal" role="form">
            <div class="form-group"
                ng-class="{'has-error': nameCheck.valid === false}">
              <label class="col-sm-3 control-label">
                Container Name
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                  ng-model="newContainer.name"
                  ng-change="checkName(newContainer.name)"
                  placeholder="Container Name"/>
                <!--span class="glyphicon form-control-feedback"
                  ng-class="{'glyphicon-ok': nameCheck.valid === true, 'glyphicon-remove': nameCheck.valid === false}"></span-->
                <p class="help-block text-danger">{{nameCheck.reason}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Compute Node</label>
              <div class="col-sm-5">
                <select class="form-control"
                  ng-model="newContainer.computeNode"
                	required="true"
                  ng-change="selectFirstImage(newContainer.computeNode)"
                  ng-options="node.name for node in computeNodes track by node.id"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Image</label>
              <div class="col-sm-5">
                <select class="form-control" ng-model="newContainer.image"
                  ng-init="selectFirstImage(newContainer.computeNode)"
                  ng-options="imageName(image) as image.displayName for image in newContainer.computeNode.images"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Initial State</label>
              <div class="col-sm-9">
                <div class="btn-group">
                  <span ng-if="newContainer.active" class="btn btn-success active disabled" style="opacity: 1">On</span>
                  <button ng-if="newContainer.active" class="btn btn-default" ng-click="newContainer.active = false">&nbsp;</button>
                  <button ng-if="!newContainer.active" class="btn btn-default" ng-click="newContainer.active = true">&nbsp;</button>
                  <span ng-if="!newContainer.active" class="btn btn-default active disabled" style="opacity: 1">Off</span>
                </div>
                <input type="hidden" ng-model="newContainer.active"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-10">
                <button class="btn btn-primary" ng-click="create()" ng-class="{ disabled: nameCheck.valid !== true }">
                  Create
                </button>
              </div>
            </div>
          </form>
        </section>
        <div class="text-right" ng-show="!isAddFormOpen">
          <button class="btn btn-default" ng-click="toggleAddForm(true)">
            <i class="fa fa-plus"></i>
            Add Container
          </button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Container Name</th>
            <th>Compute Node</th>
            <th>State</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="container in containers | orderBy:'name'">
            <td>
              <a ng-if="container.active" href="{{rootUrl(container.name)}}"
                 target="_blank">{{container.name}}</a>
              <span ng-if="!container.active" title="{{container.id}}">{{container.name}}</span>
            </td>
            <td>
              <span ng-repeat="node in computeNodes | filter:container.computeNodeId:id">
                <span title="{{node.id}}">{{node.name}}</span>
              </span>
            </td>
            <td>
              <div class="btn-group" ng-if="container.id && container.active != null">
                <span ng-if="container.active" class="btn btn-success active disabled" style="opacity: 1">On</span>
                <button ng-if="container.active" class="btn btn-default" ng-click="turnOff(container.id)">&nbsp;</button>
                <button ng-if="!container.active" class="btn btn-default" ng-click="turnOn(container.id)">&nbsp;</button>
                <span ng-if="!container.active" class="btn btn-default active disabled" style="opacity: 1">Off</span>
              </div>
              <span class="text-muted" ng-if="container.active == null">
                status unknown
              </span>
              <span class="text-muted" ng-if="!container.id">
                creating....
              </span>
            </td>
            <td>
              <button class="btn btn-danger" ng-if="container.id"
                ng-click="delete(container.id)">Delete</button>
            </td>
          </tr>
          <tr ng-if="containers.length == 0">
            <td colspan="4" class="text-center text-muted">
              You do not currently have any containers.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </script>

    <script type="text/ng-template" id="compute-nodes.html">
    <div ng-include src="'navbar.html'"></div>
    <div class="container">
      <h1>Compute Nodes</h1>

      <div>
        <button class="btn btn-default" ng-click="isAccessFormOpen = !isAccessFormOpen; accessFormError = null">
          <i class="fa fa-key"></i>
          Claim Compute Node Access
        </button>
        <button class="btn btn-default" ng-click="isAddFormOpen = !isAddFormOpen; addFormError = null">
          <i class="fa fa-plus"></i>
          Add New Compute Node
        </button>
      </div>

      <br/>

      <div ng-show="isAccessFormOpen" class="well">
        <button type="button" class="close pull-right" ng-click="isAccessFormOpen = false">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="accessform-node" class="col-sm-2 control-label">
              Compute Node
            </label>
            <div class="col-sm-9">
            <select id="accessform-node"
            	class="form-control" ng-model="accessForm.node"
            	ng-options="node.name for node in computeNodes track by node.id"
              ></select>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': !!accessFormError}">
            <label for="accessform-code" class="col-sm-2 control-label">
              Access Code
            </label>
            <div class="col-sm-10">
            <input id="accessform-code" type="text"
              class="form-control" ng-model="accessForm.code"
              style="font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;"
              ng-change="accessFormError = null"
              ng-keypress="keyCodeFilter($event, 12, 3)"
              ></select>
            <span class="help-block" ng-if="accessFormError">{{accessFormError}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" ng-click="claimNode()">
                Claim
              </button>
            </div>
          </div>
        </form>
      </div>

      <div ng-show="isAddFormOpen" class="well">
        <button type="button" class="close pull-right" ng-click="isAddFormOpen = false">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="addform-name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-9">
            <input id="addform-name" type="text"
              class="form-control" ng-model="addForm.name"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <label for="addform-url" class="col-sm-2 control-label">
              Management URL
            </label>
            <div class="col-sm-10">
            <input id="addform-url" type="text"
              class="form-control" ng-model="addForm.managementUrl"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Backend
            </label>
            <div class="col-sm-10">
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Scheme
                </label>
                <div class="col-sm-10">
                  <select id="addform-backend-scheme"
                    class="form-control" ng-model="addForm.backend.scheme">
                    <option value="http">HTTP</option>
                    <option value="https">HTTPS</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Host
                </label>
                <div class="col-sm-10">
                  <input id="addform-backend-host" type="text"
                    class="form-control" ng-model="addForm.backend.host"
                    ></select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Port
                </label>
                <div class="col-sm-10">
                  <input id="addform-backend-port"
                    class="form-control" ng-model="addForm.backend.port"
                    type="number" min="1" max="65525">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" ng-click="addNode()">
                Create
              </button>
            </div>
          </div>
          <div class="alert alert-danger" role="alert"
            ng-if="!!addFormError" ng-bind="addFormError"></div>
        </form>
      </div>

      <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="node in computeNodes | filter:relevantComputeNode | orderBy:'name'" is-disabled="!node.owned">
          <accordion-heading>
            {{node.name}}
            <div class="pull-right">
              <i class="fa fa-circle text-danger"
                title="Offline"
                ng-show="node.offline"/>
              <i class="fa fa-circle text-success"
                title="Online"
                ng-show="!node.offline"/>
            </div>
          </accordion-heading>

          <div class="well" ng-if="node.confirmingDelete">
            <p class="lead">
            Are you really, really sure?
            </p>

            <p>
            There is <strong>no undo</strong>, and this will remove the compute
            node and all containers associated with the compute node.
            </p>

            <p>
            If you really want to, type the name of the compute node below:
            </p>

            <form>
              <input class="form-control" ng-model="node.confirmingDeleteText">
            </form>

            <p>
              <button class="btn btn-danger"
                ng-click="removeNode(node); node.confirmingDelete = false"
                ng-disabled="node.confirmingDeleteText != node.name">
                Delete compute node
              </button>

              <button class="btn btn-default"
                ng-click="node.confirmingDelete = false">
                I've changed my mind
              </button>
            </p>
          </div>

          <div class="well" ng-if="node.editForm">
            <form class="form form-horizontal" role="form">
              <div class="form-group">
                <label for="editForm-{{node.id}}-name" class="col-sm-2 control-label">
                  Name
                </label>
                <div class="col-sm-10">
                <input id="editForm-{{node.id}}-name" type="text"
                  class="form-control" ng-model="node.editForm.name"
                  ></select>
                </div>
              </div>
              <div class="form-group">
                <label for="editForm-{{node.id}}-url" class="col-sm-2 control-label">
                  Management URL
                </label>
                <div class="col-sm-10">
                <input id="editForm-{{node.id}}-url" type="text"
                  class="form-control" ng-model="node.editForm.managementUrl"
                  ></select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Backend
                </label>
                <div class="col-sm-10">
                  <div class="form-group">
                    <label for="editForm-{{node.id}}-backend-scheme" class="col-sm-2 control-label">
                      Scheme
                    </label>
                    <div class="col-sm-10">
                      <select id="editForm-{{node.id}}-backend-scheme"
                        class="form-control" ng-model="node.editForm.backend.scheme">
                        <option value="http">HTTP</option>
                        <option value="https">HTTPS</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="editForm-{{node.id}}-backend-host" class="col-sm-2 control-label">
                      Host
                    </label>
                    <div class="col-sm-10">
                      <input id="editForm-{{node.id}}-backend-host" type="text"
                        class="form-control" ng-model="node.editForm.backend.host"
                        ></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="editForm-{{node.id}}-backend-port" class="col-sm-2 control-label">
                      Port
                    </label>
                    <div class="col-sm-10">
                      <input id="editForm-{{node.id}}-backend-port"
                        class="form-control" ng-model="node.editForm.backend.port"
                        type="number" min="1" max="65525">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-primary" ng-click="updateNode(node)">
                    Update
                  </button>
                  <button class="btn btn-default" ng-click="clearEditForm(node)">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div ng-if="!(node.editForm || node.confirmingDelete)">
            <div class="pull-right clear">
              <button class="btn btn-default" ng-if="node.owned" ng-click="populateEditForm(node)">
                Edit
              </button>
              <button class="btn btn-danger"
                ng-if="node.owned" ng-click="node.confirmingDelete = true">
                Delete
              </button>
            </div>
            <tabset>
              <tab>
                <tab-heading>Access Tokens</tab-heading>

                <table class="table" ng-if="node.owned">
                  <thead>
                    <tr>
                      <th>Access Code</th>
                      <th>Type</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="token in tokens[node.id]">
                      <td>{{token.code | accessToken:3}}</td>
                      <td>
                        <span ng-if="token.type == 'share'">Sharing</span>
                        <span ng-if="token.type == 'own'">Ownership</span>
                      </td>
                      <td class="text-right">
                        <button class="btn btn-danger" ng-click="removeToken(node, token)">
                          <i class="fa fa-remove"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <button class="btn btn-default" ng-click="addToken(node, 'share')">
                          <i class="fa fa-plus"></i>
                          New Sharing Token
                        </button>
                        <button class="btn btn-link btn-muted" ng-click="addToken(node, 'own')">
                          <i class="fa fa-plus"></i>
                          New Ownership Token
                        </button>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <tab disabled="node.offline">
                <tab-heading>Images</tab-heading>

                <table class="table" ng-if="node.owned">
                  <thead>
                    <tr>
                      <th>Display Name</th>
                      <th>Image Name</th>
                      <th>Created</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="image in images[node.id]" ng-class="{'text-muted': !image.metadata}">
                      <td>{{image.displayName}}</td>
                      <td>{{image.repository}}:{{image.tag}}</td>
                      <td>
                        <span ng-if="image.metadata" title="{{image.metadata.id}}">
                          {{image.metadata.created}}
                        </span>
                        <span ng-if="image.pulling">
                          (pulling)
                        </span>
                      </td>
                      <td class="text-right">
                        <button class="btn btn-info" ng-click="pullImage(node, image)"
                                title="Pull Image">
                          <i class="fa fa-cloud-download"></i>
                        </button>
                        <button class="btn btn-danger" ng-click="removeImage(node, image)"
                                title="Remove Image">
                          <i class="fa fa-remove"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" class="form-control"
                          ng-model="newImage.displayName"
                          placeholder="display name for users"
                        />
                      </td>
                      <td>
                        <div class="input-group">
                          <input type="text" class="form-control"
                            style="width: 15em"
                            ng-model="newImage.repository"
                            placeholder="docker repository"
                          />
                          <span class="input-group-addon"
                                style="width: 1ex">:</span>
                          <input type="text" class="form-control"
                            style="width: 5em"
                            ng-init="newImage.tag = 'latest'"
                            ng-model="newImage.tag"
                            placeholder="tag"
                          />
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-default" ng-click="addImage(node, newImage)"
                                ng-disabled="!isValidNewImage(newImage)"
                          <i class="fa fa-plus"></i>
                          Add Image
                        </button>
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <tab disabled="node.offline">
                <tab-heading>Containers</tab-heading>

                <table class="table" ng-if="node.owned">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Owned By</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="container in containers[node.id]">
                      <td>{{container.name}}</td>
                      <td>{{container.image}}</td>
                      <td>
                        <div ng-repeat="user in resolveUsers(node, container.ownerIDs)">
                          {{user.name}}
                          <span ng-if="user.email">
                            <a href="mailto:{{user.email}}">{{user.email}}</a>
                          </span>
                        </div>
                      </td>
                      <td class="text-right">
                        <button class="btn btn-warning"
                            ng-disabled="!container.active"
                            ng-click="stopContainer(node, container)"
                            title="Stop Container">
                          <i class="fa fa-stop"></i>
                        </button>
                        <button class="btn btn-danger"
                            ng-click="removeContainer(node, container)"
                            title="Remove Container">
                          <i class="fa fa-remove"></i>
                        </button>
                      </td>
                    </tr>
                    <tr ng-if="containers[node.id].length == 0">
                      <td class="text-muted">
                        No containers currently exist
                      </td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <tab>
                <tab-heading>Users/Owners</tab-heading>

                <table class="table" ng-if="node.owned">
                  <thead>
                    <tr>
                      <th>Users</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in users[node.id]">
                      <td>
                        {{user.name}}
                        <span ng-if="user.email">
                          <a href="mailto:{{user.email}}">{{user.email}}</a>
                        </span>
                      </td>
                      <td class="text-right">
                        <button class="btn btn-danger" ng-click="removeUser(node, user)">
                          <i class="fa fa-remove"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table" ng-if="node.owned">
                  <thead>
                    <tr>
                      <th>Owners</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="owner in owners[node.id]">
                      <td>
                        {{owner.name}}
                        <span ng-if="owner.email">
                          <a href="mailto:{{owner.email}}">{{owner.email}}</a>
                        </span>
                      </td>
                      <td class="text-right">
                        <button class="btn btn-danger"
                          ng-if="owners[node.id].length > 1"
                          ng-click="removeOwner(node, owner)">
                          <i class="fa fa-remove"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </tab>
            </tabset>
          </div>
        </accordion-group>
      </accordion>
    </div>
    </script>

    <script type="text/ng-template" id="notfound.html">
    <div id="home-jumbo" class="jumbotron">
      <div class="container">
        <h1>
        Not Found
        </h1>
        <p>
          It's not here, whatever it is...
        </p>
      </div>
    </div>
    </script>

    <script data-main="@routes.Assets.versioned("javascripts/main.js")"
            src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>
  </body>
</html>
