@(loginButton: String => Html)
<!DOCTYPE html5>
<html>
  <head>
    <title>DIT4C</title>

    <link href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- jQuery -->
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
    <!-- Ember.js and dependencies -->
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("handlebars.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ember.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ember-data.js"))"></script>
  </head>
  <body>
    <script type="text/x-handlebars">
    {{render "navbar"}}
    {{outlet}}
    </script>
    
    <script type="text/x-handlebars" data-template-name="navbar">
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">DIT4C</a>
        </div>
      {{#with user}}
        {{#if id}}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" {{bind-attr title=id}}>
              {{#if name}}{{name}}{{/if}}
              {{#unless name}}Unknown{{/unless}}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><button class="btn btn-link" {{action 'logout'}}>Logout</button></li>
            </ul>
          </li>
        </ul>
        {{else}}
        <p class="navbar-text navbar-right">
        {{#link-to 'login'}}Not logged in{{/link-to}}
        </p>
        {{/if}}
      {{/with}}
      </div>
    </nav>
    </script>
    
    <script type="text/x-handlebars" data-template-name="index">
    <div class="container-fluid">
      Index page
    </div>
    </script>
    
    <script type="text/x-handlebars" data-template-name="login">
    <div class="container-fluid">
      @loginButton("/login/redirect")
    </div>
    </script>
    

    <!-- ... Ember.js and other javascript dependencies ... -->
    <script src="@routes.Assets.at("javascripts/application.js")"></script>
    <script src="@routes.Assets.at("javascripts/router.js")"></script>
  </body>
</html>