@(title: String)(content: Html)
<!DOCTYPE html5>
<html>
  <head>
    <title>@title</title>

    <link href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- jQuery -->
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
    <!-- Ember.js and dependencies -->
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("handlebars.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ember.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ember-data.js"))"></script>
  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="app">
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">DIT4C</a>
        </div>
        {{#if id}}
        <p class="navbar-text navbar-right">
          <span {{bind-attr title=id}}>
          {{#if name}}{{name}}{{/if}}
          {{#unless name}}Unknown{{/unless}}
          </span>
        </p>
        {{/if}}
        {{#unless id}}
        <p class="navbar-text navbar-right">Not logged in</p>
        {{/unless}}
      </div>
    </nav>
    @content
    </script>

    <!-- ... Ember.js and other javascript dependencies ... -->
    <script src="@routes.Assets.at("javascripts/application.js")"></script>
    <script src="@routes.Assets.at("javascripts/router.js")"></script>
  </body>
</html>