@(loginButton: String => Html)

@import helpers.AppVersion

<!DOCTYPE html5>
<html>
  <head>
    <title>DIT4C @AppVersion</title>

    <link href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <script>
    // Enhance RequireJS to handle WebJARs
    @Html(org.webjars.RequireJS.getSetupJavaScript("/webjars/"))
    </script>
  </head>
  <body ng-controller="ApplicationCtrl">
    <div data-ng-view></div>

    <script type="text/ng-template" id="navbar.html">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">DIT4C @{AppVersion}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <div ng-if="currentUser">
            <ul class="nav navbar-nav">
              <li><a href="/projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{currentUser.id}}">
                  <span ng-if="currentUser.name">{{currentUser.name}}</span>
                  <span ng-if="!currentUser.name">Unknown</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <p ng-if="!currentUser" class="navbar-text navbar-right">
            <a href="/login">Not logged in</a>
          </p>
        </div>
      </div>
    </nav>
    </script>

    <script type="text/ng-template" id="index.html">
    <div ng-include src="'navbar.html'"></div>
    <div id="home-jumbo" class="jumbotron">
      <div class="container">
        <img class="center-block" src="assets/images/DIT4C_logo_white.png"/>
      </div>
    </div>
    </script>

    <script type="text/ng-template" id="login.html">
    <div ng-include src="'navbar.html'"></div>
    <div class="container">
      <h1>Authenticate your identity</h1>
      @loginButton("/login/redirect")
    </div>
    </script>

    <script type="text/ng-template" id="projects.html">
    <div ng-include src="'navbar.html'"></div>
    <div class="container">
      <h1>Projects</h1>

      <table class="table">
        <thead>
          <tr><th>Project Name</th><th>Active?</th><th></th></tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3">
              <form class="form-inline" {{action "create" on="submit"}}>
              <div class="form-group has-feedback">
              {{view App.NewProjectName
                      type="text"
                      class="form-control"
                      placeholder="New project name?"
                      value=name}}
              <span class="glyphicon form-control-feedback"></span>
              </div>
              {{view Ember.Select
                     class="form-control"
                     content=images
                     optionValuePath="content.id"
                     optionLabelPath="content.name"
                     value=image}}
              <div class="checkbox">
                <label>
                Start?
                {{input type="checkbox" checked=active}}
                </label>
              </div>
              <button type="submit" class="btn btn-primary">
              Create
              </button>
              </form>
            </td>
          </tr>
          {{#each}}
          <tr>
            <td>
              {{#if active}}
                <a {{bind-attr href=rootUrl}} target="_blank">{{name}}</a>
              {{else}}
                {{name}}
              {{/if}}
            </td>
            <td>
              <div class="btn-group">
              {{#if active}}
                <button class="btn btn-primary disabled active" role="button">On</button>
                <button class="btn btn-default" {{action "stop" id}}>Off</button>
              {{else}}
                <button class="btn btn-default" {{action "start" id}}>On</button>
                <button class="btn btn-primary disabled active" role="button">Off</button>
              {{/if}}
              </div>
            </td>
            <td>
              <button class="btn btn-danger" {{action "delete" id}}>Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    </script>

    <script type="text/ng-template" id="notfound.html">
    <div id="home-jumbo" class="jumbotron">
      <div class="container">
        <h1>
        Not Found
        </h1>
        <p>
          It's not here, whatever it is...
        </p>
      </div>
    </div>
    </script>

    <script data-main="@routes.Assets.versioned("javascripts/main.js")"
            src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>
  </body>
</html>